/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('nav.css');
@import url('hero.css');
@import url('filter.css');

/* Global styles */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: #141414;
}
